streamlit==1.58.0

langchain==1.3.9
langchain-core==1.4.7
langchain-community==0.4.2
langchain-text-splitters==1.1.2
langchain-huggingface==1.2.2
langchain-qdrant==1.1.0
langchain-groq==1.1.3

qdrant-client==1.19.1

sentence-transformers==6.1.0
transformers==5.17.0
huggingface-hub==1.32.0

torch==2.12.1
torchvision==0.27.1

pypdf==6.16.2
beautifulsoup4==4.15.0

python-dotenv==1.2.2